img {
  max-width: 100%;
  max-height: 100%;
}
.head{
  font-size: 5rem;
}
.sub{
  font-size: 2rem;
}
.navbar{
  background-color: #ebf0ed;
}
.blue{
  background-color: azure;
}
nav .navbar-nav li a:hover{
  color: hotpink !important;
}
